@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  color: rgba(var(--text));
  background-color: rgba(var(--background));
}

:root {
  --text: 20, 26, 23, 1;
  --background: 252, 253, 252, 1;
  --primary: 93, 121, 105, 1;
  --secondary: 200, 213, 206, 1;
  --accent: 91, 118, 103, 1;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: 229, 235, 232, 1;
    --background: 2, 3, 2, 1;
    --primary: 134, 162, 146, 1;
    --secondary: 42, 55, 48, 1;
    --accent: 137, 164, 149, 1;
  }
}
